# Ajuste de CPF diap

In [23]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import sqlite3 as sql
import seaborn as sns
import csv
import squarify 
from unidecode import unidecode

import os

from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity="all"

# Recuperando cadastro parlamentares do sql

In [24]:
con = sql.connect("../dados/sql/base_completa.db")

In [25]:
df=pd.read_sql("select * from cadastro",con)
con.close()

In [26]:
#df.head()

In [27]:
df_diap=pd.read_csv('../dados/diap/politicos_diap.csv')
#df_diap

In [28]:
df_diap["nome"]=df_diap["nome"].apply(lambda x:unidecode(x.upper()))
df_diap.head()

,nome,partido,cargo,estado,profissão,mandatos,cabeças,debatedor,articulador,formulador,negociador
0,PETECAO,PSD,Senador,ACRE,Empresário,1,1.0,0,1,0,0
1,ARTHUR LIRA,PP,Deputado,ALAGOAS,Empresário,3,3.0,0,1,0,0
2,RENAN,MDB,Senador,ALAGOAS,Produtor Rural,4,23.0,0,1,0,0
3,DAVI ALCOLUMBRE,DEM,Senador,AMAPÁ,Comerciante,1,1.0,0,1,0,0
4,RANDOLFE,REDE,Senador,AMAPÁ,Professor,2,9.0,1,0,0,0

In [29]:
cpfs=df[["NM_URNA_CANDIDATO","CPF"]].copy()
cpfs.rename(columns={"NM_URNA_CANDIDATO":"nome"},inplace=True)
cpfs.info()
df_diap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    592 non-null    object
 1   CPF     592 non-null    object
dtypes: object(2)
memory usage: 9.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nome         100 non-null    object
 1   partido      100 non-null    object
 2   cargo        100 non-null    object
 3   estado       100 non-null    object
 4   profissão    100 non-null    object
 5   mandatos     100 non-null    int64
 6   cabeças      100 non-null    float64
 7   debatedor    100 non-null    int64
 8   articulador  100 non-null    int64
 9   formulador   100 non-null    int64
 10  negociador   100 non-null    int64
dtypes: float64(1), int64(5), object(5)
memory usage: 8.7+ KB

In [30]:
df_diap=pd.merge(df_diap,cpfs, how="left", on="nome")

In [31]:
df_diap.sample(5)
df_diap.isnull().sum()

,nome,partido,cargo,estado,profissão,mandatos,cabeças,debatedor,articulador,formulador,negociador,CPF
51,DANIEL COELHO,CIDADANIA,Deputado,PERNAMBUCO,Empresário,2,1.0,0,1,0,0,02513878442
9,ALICE PORTUGAL,PCdoB,Deputada,BAHIA,Farmacêutica Bioquímica,5,10.0,1,0,0,0,12377392504
14,OTTO ALENCAR,PSD,Senador,BAHIA,Médico,1,3.0,0,0,1,0,05985234568
90,MAJOR OLIMPIO,PSL,Senador,SÃO PAULO,Policial Militar,1,1.0,0,0,0,1,00502302801
20,DELEGADO WALDIR,PSL,Deputado,GOIÁS,Delegado,3,1.0,1,0,0,0,46228357972

nome           0
partido        0
cargo          0
estado         0
profissão      0
mandatos       0
cabeças        0
debatedor      0
articulador    0
formulador     0
negociador     0
CPF            1
dtype: int64

In [32]:
df_diap[df_diap["CPF"].isnull()][["nome","cargo","partido","estado","profissão"]]

                nome     cargo partido             estado profissão
69  DARCISIO PERONDI  Deputado     MDB  RIO GRANDE DO SUL    Médico

In [34]:
df_diap.columns

Index(['nome', 'partido', 'cargo', 'estado', 'profissão', 'mandatos',
       'cabeças', 'debatedor', 'articulador', 'formulador', 'negociador',
       'CPF'],
      dtype='object')

In [35]:
df_diap.to_csv("../dados/diap/politicos_diap_cpf.csv",index=False)