In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity="all"

In [2]:
!ls ../dados/tse

 BWEB_1t_RJ_101020181938.zip  'Dados Brutos-20200621T222156Z-001.zip'
 bweb_1t_RJ_101020182014.csv   leiame-boletimurnaweb.pdf
 candidatos2014.csv	       leiame.pdf
 candidatos2018.csv	       mapa_geral_2014.csv
 consulta_cand_2018.zip        mapa_geral_2018.csv
 dados_brutos

# Base de parlamentares

## 2014 Senadores

In [3]:
df_parlamentares=pd.read_csv("../dados/tse/candidatos2014.csv", encoding="Latin 1",header=0)

In [4]:
df_parlamentares.shape
df_parlamentares.info()

(540, 49)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 49 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     540 non-null    int64
 1   ANO_ELEICAO                    540 non-null    int64
 2   TP_ABRANGENCIA                 540 non-null    object
 3   SG_UF                          540 non-null    object
 4   CD_CARGO                       540 non-null    int64
 5   DS_CARGO                       540 non-null    object
 6   SQ_CANDIDATO                   540 non-null    int64
 7   NR_CANDIDATO                   540 non-null    int64
 8   NM_CANDIDATO                   540 non-null    object
 9   NM_URNA_CANDIDATO              540 non-null    object
 10  NM_SOCIAL_CANDIDATO            540 non-null    object
 11  NR_CPF_CANDIDATO               540 non-null    int64
 12  NM_EMAIL                       540 non-null    object
 13  CD_SITUACAO_CANDIDATURA        540 non-null    int64
 14  DS_SITUACAO_CANDIDATURA        540 non-null    object
 15  CD_DETALHE_SITUACAO_CAND       540 non-null    int64
 16  DS_DETALHE_SITUACAO_CAND       540 non-null    object
 17  TP_AGREMIACAO                  540 non-null    object
 18  NR_PARTIDO                     540 non-null    int64
 19  SG_PARTIDO                     540 non-null    object
 20  NM_PARTIDO                     540 non-null    object
 21  SQ_COLIGACAO                   540 non-null    int64
 22  NM_COLIGACAO                   540 non-null    object
 23  DS_COMPOSICAO_COLIGACAO        540 non-null    object
 24  CD_NACIONALIDADE               540 non-null    int64
 25  DS_NACIONALIDADE               540 non-null    object
 26  SG_UF_NASCIMENTO               540 non-null    object
 27  CD_MUNICIPIO_NASCIMENTO        540 non-null    int64
 28  NM_MUNICIPIO_NASCIMENTO        540 non-null    object
 29  DT_NASCIMENTO                  540 non-null    object
 30  NR_IDADE_DATA_POSSE            540 non-null    float64
 31  NR_TITULO_ELEITORAL_CANDIDATO  540 non-null    int64
 32  CD_GENERO                      540 non-null    int64
 33  DS_GENERO                      540 non-null    object
 34  CD_GRAU_INSTRUCAO              540 non-null    int64
 35  DS_GRAU_INSTRUCAO              540 non-null    object
 36  CD_ESTADO_CIVIL                540 non-null    int64
 37  DS_ESTADO_CIVIL                540 non-null    object
 38  CD_COR_RACA                    540 non-null    int64
 39  DS_COR_RACA                    540 non-null    object
 40  CD_OCUPACAO                    540 non-null    int64
 41  DS_OCUPACAO                    540 non-null    object
 42  NR_DESPESA_MAX_CAMPANHA        540 non-null    int64
 43  CD_SIT_TOT_TURNO               540 non-null    int64
 44  DS_SIT_TOT_TURNO               540 non-null    object
 45  ST_REELEICAO                   540 non-null    object
 46  ST_DECLARAR_BENS               540 non-null    object
 47  NR_PROTOCOLO_CANDIDATURA       540 non-null    int64
 48  NR_PROCESSO                    540 non-null    int64
dtypes: float64(1), int64(22), object(26)
memory usage: 206.8+ KB

In [5]:
#df_parlamentares.columns

In [6]:
df_parlamentares=df_parlamentares.drop(columns=['Unnamed: 0',"SQ_CANDIDATO", "NM_SOCIAL_CANDIDATO",'ANO_ELEICAO', 
                    'TP_ABRANGENCIA',
                    'NM_EMAIL', 'CD_SITUACAO_CANDIDATURA', 'DS_SITUACAO_CANDIDATURA',
                    'CD_DETALHE_SITUACAO_CAND', 'DS_DETALHE_SITUACAO_CAND', 'TP_AGREMIACAO',
                    'SQ_COLIGACAO','NM_COLIGACAO', 'DS_COMPOSICAO_COLIGACAO', 'CD_NACIONALIDADE',
                    'DS_NACIONALIDADE', 'SG_UF_NASCIMENTO', 'CD_MUNICIPIO_NASCIMENTO',
                    'NM_MUNICIPIO_NASCIMENTO', 'DT_NASCIMENTO', 'NR_IDADE_DATA_POSSE',
                    'NR_TITULO_ELEITORAL_CANDIDATO', 'CD_GENERO', 'DS_GENERO',
                    'CD_GRAU_INSTRUCAO', 'DS_GRAU_INSTRUCAO', 'CD_ESTADO_CIVIL',
                    'DS_ESTADO_CIVIL', 'CD_COR_RACA', 'DS_COR_RACA', 'CD_OCUPACAO',
                    'DS_OCUPACAO', 'NR_DESPESA_MAX_CAMPANHA', 'CD_SIT_TOT_TURNO',
                    'DS_SIT_TOT_TURNO', 'ST_REELEICAO', 'ST_DECLARAR_BENS',
                    'NR_PROTOCOLO_CANDIDATURA', 'NR_PROCESSO '])
df_parlamentares.shape
#df_parlamentares.head()

(540, 10)

In [7]:
# Apenas senadores
df_parlamentares=df_parlamentares[df_parlamentares["DS_CARGO"]=="SENADOR"]
df_parlamentares.shape

(27, 10)

In [8]:
lista_uf=list(df_parlamentares["SG_UF"].unique())
#lista_uf=[]
#lista_uf.append("RJ")
lista_uf
df_mapa_geral=pd.DataFrame()
campos=["NR_CPF_CANDIDATO","NR_CANDIDATO","SG_UF"]

['MT',
 'SP',
 'DF',
 'PR',
 'GO',
 'RJ',
 'PE',
 'AP',
 'SC',
 'ES',
 'RO',
 'AM',
 'CE',
 'AL',
 'RN',
 'PI',
 'AC',
 'SE',
 'TO',
 'MS',
 'MA',
 'RR',
 'PA',
 'BA',
 'PB',
 'RS',
 'MG']

In [9]:
!ls ../dados/tse/dados_brutos/votação

LEIAME.pdf		   votacao_secao_2014_MA.txt  votacao_secao_2014_RN.txt
votacao_secao_2014_AC.txt  votacao_secao_2014_MG.txt  votacao_secao_2014_RO.txt
votacao_secao_2014_AL.txt  votacao_secao_2014_MS.txt  votacao_secao_2014_RR.txt
votacao_secao_2014_AM.txt  votacao_secao_2014_MT.txt  votacao_secao_2014_RS.txt
votacao_secao_2014_AP.txt  votacao_secao_2014_PA.txt  votacao_secao_2014_SC.txt
votacao_secao_2014_BA.txt  votacao_secao_2014_PB.txt  votacao_secao_2014_SE.txt
votacao_secao_2014_CE.txt  votacao_secao_2014_PE.txt  votacao_secao_2014_SP.txt
votacao_secao_2014_DF.txt  votacao_secao_2014_PI.txt  votacao_secao_2014_TO.txt
votacao_secao_2014_ES.txt  votacao_secao_2014_PR.txt
votacao_secao_2014_GO.txt  votacao_secao_2014_RJ.txt

In [10]:
colunas=["DATA_GERACAO","HORA_GERACAO","ANO_ELEICAO","NUM_TURNO", "DESCRICAO_ELEICAO",
         "SIGLA_UF","SIGLA_UE","CODIGO_MUNICIPIO","NOME_MUNICIPIO","NR_ZONA","NUM_SECAO",
         "CODIGO_CARGO","DESCRICAO_CARGO","NR_VOTAVEL","QT_VOTOS"]

In [11]:
for uf in lista_uf:
    df_parl_uf=df_parlamentares[campos][df_parlamentares["SG_UF"]==uf]
    n_parlamentares=df_parl_uf.shape[0]
    arq="../dados/tse/dados_brutos/votação/votacao_secao_2014_"+uf+".txt"
    print(arq)
    df=pd.read_csv(arq, encoding="Latin 1", sep=";",names=colunas)
    i=0
    while i < n_parlamentares:
        numero=df_parl_uf.iloc[i]["NR_CANDIDATO"]
        cpf=df_parl_uf.iloc[i]["NR_CPF_CANDIDATO"]
        df_votavel=df[df["NR_VOTAVEL"]==numero]
        mapa=df_votavel.groupby("NR_ZONA")["QT_VOTOS"].sum()
        parlamentar=pd.DataFrame(mapa, index=None)
        parlamentar["NR_CANDIDATO"]=numero
        parlamentar["NR_CPF_CANDIDATO"]=cpf
        parlamentar["SG_UF"]=uf
        parlamentar.reset_index(inplace=True)
        df_mapa_geral= df_mapa_geral.append(parlamentar, ignore_index = True)
        print("Número: {}, Votos: {}".format(numero,mapa.sum()))
        i+=1

../dados/tse/dados_brutos/votação/votacao_secao_2014_MT.txt
Número: 222, Votos: 646344
../dados/tse/dados_brutos/votação/votacao_secao_2014_SP.txt
Número: 456, Votos: 11105874
../dados/tse/dados_brutos/votação/votacao_secao_2014_DF.txt
Número: 123, Votos: 826576
../dados/tse/dados_brutos/votação/votacao_secao_2014_PR.txt
Número: 456, Votos: 4101848
../dados/tse/dados_brutos/votação/votacao_secao_2014_GO.txt
Número: 251, Votos: 1283665
../dados/tse/dados_brutos/votação/votacao_secao_2014_RJ.txt
Número: 400, Votos: 4683963
../dados/tse/dados_brutos/votação/votacao_secao_2014_PE.txt
Número: 400, Votos: 2655912
../dados/tse/dados_brutos/votação/votacao_secao_2014_AP.txt
Número: 255, Votos: 131695
../dados/tse/dados_brutos/votação/votacao_secao_2014_SC.txt
Número: 155, Votos: 1308521
../dados/tse/dados_brutos/votação/votacao_secao_2014_ES.txt
Número: 156, Votos: 776978
../dados/tse/dados_brutos/votação/votacao_secao_2014_RO.txt
Número: 123, Votos: 312614
../dados/tse/dados_brutos/votação/votacao_secao_2014_AM.txt
Número: 555, Votos: 933996
../dados/tse/dados_brutos/votação/votacao_secao_2014_CE.txt
Número: 456, Votos: 2314796
../dados/tse/dados_brutos/votação/votacao_secao_2014_AL.txt
Número: 144, Votos: 689266
../dados/tse/dados_brutos/votação/votacao_secao_2014_RN.txt
Número: 131, Votos: 808055
../dados/tse/dados_brutos/votação/votacao_secao_2014_PI.txt
Número: 141, Votos: 981219
../dados/tse/dados_brutos/votação/votacao_secao_2014_AC.txt
Número: 111, Votos: 218756
../dados/tse/dados_brutos/votação/votacao_secao_2014_SE.txt
Número: 251, Votos: 448102
../dados/tse/dados_brutos/votação/votacao_secao_2014_TO.txt
Número: 155, Votos: 282052
../dados/tse/dados_brutos/votação/votacao_secao_2014_MS.txt
Número: 151, Votos: 640336
../dados/tse/dados_brutos/votação/votacao_secao_2014_MA.txt
Número: 400, Votos: 1476840
../dados/tse/dados_brutos/votação/votacao_secao_2014_RR.txt
Número: 123, Votos: 96888
../dados/tse/dados_brutos/votação/votacao_secao_2014_PA.txt
Número: 131, Votos: 1566350
../dados/tse/dados_brutos/votação/votacao_secao_2014_BA.txt
Número: 555, Votos: 3341111
../dados/tse/dados_brutos/votação/votacao_secao_2014_PB.txt
Número: 155, Votos: 647271
../dados/tse/dados_brutos/votação/votacao_secao_2014_RS.txt
Número: 123, Votos: 2145479
../dados/tse/dados_brutos/votação/votacao_secao_2014_MG.txt
Número: 456, Votos: 5102987

In [12]:
uf

'MG'

In [13]:
df_mapa_geral.shape

(3032, 5)

In [14]:
df_mapa_geral.head()

   NR_ZONA  QT_VOTOS  NR_CANDIDATO  NR_CPF_CANDIDATO SG_UF
0        1     12842           222       23019093104    MT
1        2      3343           222       23019093104    MT
2        3      9321           222       23019093104    MT
3        4      7730           222       23019093104    MT
4        5      4422           222       23019093104    MT

In [15]:
df_mapa_geral.tail()

      NR_ZONA  QT_VOTOS  NR_CANDIDATO  NR_CPF_CANDIDATO SG_UF
3027      347     14027           456       47555882604    MG
3028      348     17468           456       47555882604    MG
3029      349     16922           456       47555882604    MG
3030      350     22253           456       47555882604    MG
3031      351     19595           456       47555882604    MG

In [17]:
df_mapa_geral.to_csv("../dados/tse/mapa_geral_2014.csv", index=False)

In [18]:
df_mapa_geral_2018=pd.read_csv("../dados/tse/mapa_geral_2018.csv")
df_mapa_geral_2018=df_mapa_geral_2018.drop(columns="Unnamed: 0")
df_mapa_geral_final=df_mapa_geral.append(df_mapa_geral_2018, ignore_index = True)

In [19]:
df_mapa_geral_final.shape
df_mapa_geral_final.head()
df_mapa_geral_final.tail()

(93794, 5)

   NR_ZONA  QT_VOTOS  NR_CANDIDATO  NR_CPF_CANDIDATO SG_UF
0        1     12842           222       23019093104    MT
1        2      3343           222       23019093104    MT
2        3      9321           222       23019093104    MT
3        4      7730           222       23019093104    MT
4        5      4422           222       23019093104    MT

       NR_ZONA  QT_VOTOS  NR_CANDIDATO  NR_CPF_CANDIDATO SG_UF
93789       29      1048          1777       70335591787    RO
93790       30       865          1777       70335591787    RO
93791       32       354          1777       70335591787    RO
93792       34       648          1777       70335591787    RO
93793       35       173          1777       70335591787    RO

In [21]:
df_mapa_geral.to_csv("../dados/tse/mapa_geral_final.csv", index=False)