In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity="all"

In [2]:
#import PyPDF2

In [21]:
def cria_lista_1(df):
    df=df[df["profissão"]!="SEM REPRESENTAÇÃO NA LISTA"]
    estados=["ACRE","ALAGOAS","AMAPÁ","AMAZONAS","BAHIA",
         "CEARÁ","DISTRITO FEDERAL","ESPÍRITO SANTO","GOIÁS",
        "MARANHÃO","MATO GROSSO","MATO GROSSO DO SUL","MINAS GERAIS","PARÁ","PARAÍBA","PARANÁ",
           "PERNAMBUCO","PIAUÍ","RIO DE JANEIRO","RIO GRANDE DO NORTE","RIO GRANDE DO SUL",
           "RONDÔNIA","RORAIMA","SANTA CATARINA","SÃO PAULO","SERGIPE","TOCANTINS"]
    lista=[]
    linhas=len(df)
    i=0
    while i < linhas:
        profissão=df.iloc[i]["profissão"]
        if profissão in estados:
            estado=profissão
            print(estado)
        else:
            reg={}
            nome_part=df.iloc[i]["Nome-partido"]
            reg["nome"]=nome_part.split("-")[0].title()
            reg["partido"]=nome_part.split("-")[1]
            reg["estado"]=estado
            reg["profissão"]=df.iloc[i]["profissão"]
            reg["mandatos"]=df.iloc[i]["mandatos"]
            reg["cabeças"]=df.iloc[i]["cabeças"]
            reg["debatedor"]=df.iloc[i]["debatedor"]
            reg["articulador"]=df.iloc[i]["articulador"]
            reg["formulador"]=df.iloc[i]["formulador"]
            reg["negociador"]=df.iloc[i]["negociador"]
            print("Nome: {}, Estado: {}, Partido: {}".format(reg["nome"],reg["estado"],reg["partido"]))
            lista.append(reg)
        i+=1
    return lista

In [4]:
!ls ../dados

oscabecasdocongressonacional_2019.pdf  pag_17.csv  pag_18.csv

In [5]:
pag_17=pd.read_csv("../dados/pag_17.csv")
pag_17.shape
pag_17.info()

(66, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cargo         47 non-null     object
 1   Nome-partido  47 non-null     object
 2   profissão     66 non-null     object
 3   mandatos      47 non-null     object
 4   cabeças       47 non-null     float64
 5   debatedor     11 non-null     object
 6   articulador   16 non-null     object
 7   formulador    9 non-null      object
 8   negociador    11 non-null     object
dtypes: float64(1), object(8)
memory usage: 4.8+ KB

In [6]:
pag_17.head()

,cargo,Nome-partido,profissão,mandatos,cabeças,debatedor,articulador,formulador,negociador
0,NaN,NaN,ACRE,NaN,NaN,NaN,NaN,NaN,NaN
1,SENADOR,SÉRGIO PETECÃO - PSD,EMPRESÁRIO,1o,1.0,NaN,X,NaN,NaN
2,NaN,NaN,ALAGOAS,NaN,NaN,NaN,NaN,NaN,NaN
3,Deputado,Arthur Lira - PP,Empresário,3°,3.0,NaN,X,NaN,NaN
4,Senador,Renan Calheiros - MDB,Produtor Rural,4°,23.0,NaN,X,NaN,NaN

In [8]:
lista_pag_17=cria_lista_1(pag_17)

ACRE
Nome: SÉRGIO PETECÃO , Estado: ACRE, Partido:  PSD
ALAGOAS
Nome: Arthur Lira , Estado: ALAGOAS, Partido:  PP
Nome: Renan Calheiros , Estado: ALAGOAS, Partido:  MDB
AMAPÁ
Nome: DAVI ALCOLUMBRE , Estado: AMAPÁ, Partido:  DEM
Nome: Randolfe Rodrigues , Estado: AMAPÁ, Partido:  REDE
AMAZONAS
Nome: EDUARDO BRAGA , Estado: AMAZONAS, Partido:  MDB
Nome: MARCELO RAMOS , Estado: AMAZONAS, Partido:  PL
Nome: OMAR AZIZ , Estado: AMAZONAS, Partido:  PSD
BAHIA
Nome: Afonso Florence , Estado: BAHIA, Partido:  PT
Nome: Alice Portugal , Estado: BAHIA, Partido:  PCdoB
Nome: Daniel Almeida , Estado: BAHIA, Partido:  PCdoB
Nome: ELMAR NASCIMENTO , Estado: BAHIA, Partido:  DEM
Nome: JAQUES WAGNER , Estado: BAHIA, Partido:  PT1
Nome: JOÃO ROMA , Estado: BAHIA, Partido:  PRB
Nome: Otto Alencar , Estado: BAHIA, Partido:  PSD
CEARÁ
Nome: André Figueiredo , Estado: CEARÁ, Partido:  PDT
Nome: CID GOMES , Estado: CEARÁ, Partido:  PDT
Nome: José Guimarães , Estado: CEARÁ, Partido:  PT
Nome: Tasso Jereissati , Estado: CEARÁ, Partido:  PSDB
DISTRITO FEDERAL
Nome: Erika Kokay , Estado: DISTRITO FEDERAL, Partido:  PT
ESPÍRITO SANTO
GOIÁS
Nome: DELEGADO WALDIR , Estado: GOIÁS, Partido:  PSL
Nome: JOÃO CAMPOS , Estado: GOIÁS, Partido:  PRB
Nome: MAJOR VITOR HUGO , Estado: GOIÁS, Partido:  PSL
MARANHÃO
Nome: ROBERTO ROCHA , Estado: MARANHÃO, Partido:  PSDB
Nome: Weverton Rocha , Estado: MARANHÃO, Partido:  PDT
MATO GROSSO
MATO GROSSO DO SUL
Nome: Fábio Trad , Estado: MATO GROSSO DO SUL, Partido:  PSD
Nome: Simone Tebet , Estado: MATO GROSSO DO SUL, Partido:  MDB
MINAS GERAIS
Nome: Aécio Neves , Estado: MINAS GERAIS, Partido:  PSDB
Nome: Antonio Anastasia , Estado: MINAS GERAIS, Partido:  PSDB
Nome: FRED COSTA , Estado: MINAS GERAIS, Partido:  PATRIOTA
Nome: Júlio Delgado , Estado: MINAS GERAIS, Partido:  PSB
Nome: Lincoln Portela , Estado: MINAS GERAIS, Partido:  PL
Nome: Paulo Abi, Estado: MINAS GERAIS, Partido: Ackel
Nome: RODRIGO PACHECO , Estado: MINAS GERAIS, Partido:  DEM
PARÁ
PARAÍBA
Nome: Aguinaldo Ribeiro , Estado: PARAÍBA, Partido:  PP
Nome: DANIELLA RIBEIRO , Estado: PARAÍBA, Partido:  PP
Nome: Efraim Filho , Estado: PARAÍBA, Partido:  DEM
Nome: VENEZIANO VITAL DO RÊGO , Estado: PARAÍBA, Partido:  PSB
Nome: WELLINGTON ROBERTO , Estado: PARAÍBA, Partido:  PL
PARANÁ
Nome: ENIO VERRI , Estado: PARANÁ, Partido:  PT
Nome: FELIPE FRANCISCHINI , Estado: PARANÁ, Partido:  PSL
Nome: FILIPE BARROS , Estado: PARANÁ, Partido:  PSL
Nome: Gleisi Hoffmann , Estado: PARANÁ, Partido:  PT1
Nome: GUSTAVO FRUET , Estado: PARANÁ, Partido:  PDT
Nome: Ricardo Barros , Estado: PARANÁ, Partido:  PP
Nome: Rubens Bueno , Estado: PARANÁ, Partido:  CIDADANIA
Nome: SÉRGIO SOUZA , Estado: PARANÁ, Partido:  MDB

In [9]:
pag_18=pd.read_csv("../dados/pag_18.csv")
pag_18.shape
pag_18.info()
pag_18.head()

(66, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cargo         53 non-null     object
 1   Nome-partido  66 non-null     object
 2   profissão     0 non-null      float64
 3   mandatos      53 non-null     object
 4   cabeças       53 non-null     float64
 5   debatedor     15 non-null     object
 6   articulador   21 non-null     object
 7   formulador    7 non-null      object
 8   negociador    10 non-null     object
dtypes: float64(2), object(7)
memory usage: 4.8+ KB

,cargo,Nome-partido,profissão,mandatos,cabeças,debatedor,articulador,formulador,negociador
0,NaN,PERNAMBUCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DEPUTADO,ANDRÉ DE PAULA - PSD ADVOGADO,NaN,6o,1.0,NaN,X,NaN,NaN
2,DEPUTADO,ANDRÉ FERREIRA - PSC EMPRESÁRIO,NaN,1o,1.0,NaN,NaN,NaN,X
3,DEPUTADO,AUGUSTO COUTINHO - SOLIDARIEDADE ENGENHEIRO CIVIL,NaN,3o,1.0,NaN,NaN,NaN,X
4,DEPUTADO,DANIEL COELHO - CIDADANIA EMPRESÁRIO,NaN,2o,1.0,NaN,X,NaN,NaN

In [10]:
nome_partido_profissão=pag_18.iloc[3]["Nome-partido"]
nome_partido_profissão.split("-")
nome=nome_partido_profissão.split("-")[0].strip()
nome
partido_profissão=nome_partido_profissão.split("-")[1].strip()
partido_profissão
partido=partido_profissão.split(" ")[0]
partido
profissão=partido_profissão.partition(" ")[2]
profissão
#partido[1].partition(" ")

['AUGUSTO COUTINHO ', ' SOLIDARIEDADE ENGENHEIRO CIVIL']

'AUGUSTO COUTINHO'

'SOLIDARIEDADE ENGENHEIRO CIVIL'

'SOLIDARIEDADE'

'ENGENHEIRO CIVIL'

In [32]:
def cria_lista_2(df):
    df=df[df["Nome-partido"]!="SEM REPRESENTAÇÃO NA LISTA"]
    estados=["ACRE","ALAGOAS","AMAPÁ","AMAZONAS","BAHIA",
         "CEARÁ","DISTRITO FEDERAL","ESPÍRITO SANTO","GOIÁS",
        "MARANHÃO","MATO GROSSO","MATO GROSSO DO SUL","MINAS GERAIS","PARÁ","PARAÍBA","PARANÁ",
           "PERNAMBUCO","PIAUÍ","RIO DE JANEIRO","RIO GRANDE DO NORTE","RIO GRANDE DO SUL",
           "RONDÔNIA","RORAIMA","SANTA CATARINA","SÃO PAULO","SERGIPE","TOCANTINS"]
    lista=[]
    linhas=len(df)
    i=0
    while i < linhas:
        nome_partido_profissão=df.iloc[i]["Nome-partido"]
        if nome_partido_profissão in estados:
            estado=nome_partido_profissão
            print(estado)
        else:
            reg={}
            nome_partido_profissão=nome_partido_profissão.replace("–","-")
            reg["nome"]=nome_partido_profissão.split("-")[0].strip()
            partido_profissão=nome_partido_profissão.split("-")[1].strip()
            reg["partido"]=partido_profissão.split(" ")[0]
            reg["profissão"]=partido_profissão.partition(" ")[2]
            reg["estado"]=estado
            reg["mandatos"]=df.iloc[i]["mandatos"]
            reg["cabeças"]=df.iloc[i]["cabeças"]
            reg["debatedor"]=df.iloc[i]["debatedor"]
            reg["articulador"]=df.iloc[i]["articulador"]
            reg["formulador"]=df.iloc[i]["formulador"]
            reg["negociador"]=df.iloc[i]["negociador"]
            print("Nome: {}, Estado: {}, Partido: {}".format(reg["nome"],reg["estado"],reg["partido"]))
            lista.append(reg)
        i+=1
    return lista

In [33]:
lista_pag_18=cria_lista_2(pag_18)

PERNAMBUCO
Nome: ANDRÉ DE PAULA, Estado: PERNAMBUCO, Partido: PSD
Nome: ANDRÉ FERREIRA, Estado: PERNAMBUCO, Partido: PSC
Nome: AUGUSTO COUTINHO, Estado: PERNAMBUCO, Partido: SOLIDARIEDADE
Nome: DANIEL COELHO, Estado: PERNAMBUCO, Partido: CIDADANIA
Nome: DANILO CABRAL, Estado: PERNAMBUCO, Partido: PSB
Nome: Fernando Bezerra Coelho, Estado: PERNAMBUCO, Partido: MDB
Nome: Humberto Costa, Estado: PERNAMBUCO, Partido: PT
Nome: RENILDO CALHEIROS, Estado: PERNAMBUCO, Partido: PCdoB
Nome: SILVIO COSTA FILHO, Estado: PERNAMBUCO, Partido: PRB
Nome: Tadeu Alencar, Estado: PERNAMBUCO, Partido: PSB
PIAUÍ
Nome: Ciro Nogueira, Estado: PIAUÍ, Partido: PP
Nome: MARCELO CASTRO, Estado: PIAUÍ, Partido: MDB
RIO DE JANEIRO
Nome: Alessandro Molon, Estado: RIO DE JANEIRO, Partido: PSB
Nome: AUREO RIBEIRO, Estado: RIO DE JANEIRO, Partido: SOLIDARIEDADE
Nome: FLÁVIO BOLSONARO, Estado: RIO DE JANEIRO, Partido: PSL
Nome: Glauber Braga, Estado: RIO DE JANEIRO, Partido: PSol
Nome: Jandira Feghali, Estado: RIO DE JANEIRO, Partido: PCdoB
Nome: MARCELO FREIXO, Estado: RIO DE JANEIRO, Partido: PSOL
Nome: Rodrigo Maia, Estado: RIO DE JANEIRO, Partido: DEM
RIO GRANDE DO NORTE
RIO GRANDE DO SUL
Nome: AFONSO MOTTA, Estado: RIO GRANDE DO SUL, Partido: PDT
Nome: ALCEU MOREIRA, Estado: RIO GRANDE DO SUL, Partido: MDB
Nome: Darcísio Perondi, Estado: RIO GRANDE DO SUL, Partido: MDB
Nome: Henrique Fontana, Estado: RIO GRANDE DO SUL, Partido: PT
Nome: MARCEL VAN HATTEM, Estado: RIO GRANDE DO SUL, Partido: NOVO
Nome: Paulo Paim, Estado: RIO GRANDE DO SUL, Partido: PT
Nome: Paulo Pimenta, Estado: RIO GRANDE DO SUL, Partido: PT
RONDÔNIA
Nome: MARCOS ROGÉRIO, Estado: RONDÔNIA, Partido: DEM
RORAIMA
SANTA CATARINA
Nome: CARMEN ZANOTTO, Estado: SANTA CATARINA, Partido: CIDADANIA
Nome: ESPIRIDIÃO AMIN, Estado: SANTA CATARINA, Partido: PP
SÃO PAULO
Nome: ALEXANDRE PADILHA, Estado: SÃO PAULO, Partido: PT
Nome: Arlindo Chinaglia, Estado: SÃO PAULO, Partido: PT
Nome: ARNALDO JARDIM, Estado: SÃO PAULO, Partido: CIDADANIA
Nome: Baleia Rossi, Estado: SÃO PAULO, Partido: MDB
Nome: Carlos Sampaio, Estado: SÃO PAULO, Partido: PSDB
Nome: Carlos Zarattini, Estado: SÃO PAULO, Partido: PT
Nome: EDUARDO BOLSONARO, Estado: SÃO PAULO, Partido: PSL
Nome: EDUARDO CURY, Estado: SÃO PAULO, Partido: PSDB
Nome: Ivan Valente, Estado: SÃO PAULO, Partido: PSol
Nome: JOICE HASSELMANN, Estado: SÃO PAULO, Partido: PSL
Nome: José Serra, Estado: SÃO PAULO, Partido: PSDB
Nome: KIM KATAGUIRI, Estado: SÃO PAULO, Partido: DEM
Nome: Luiza Erundina, Estado: SÃO PAULO, Partido: PSol
Nome: MAJOR OLÍMPIO, Estado: SÃO PAULO, Partido: PSL
Nome: MARCOS PEREIRA, Estado: SÃO PAULO, Partido: PRB
Nome: Orlando Silva, Estado: SÃO PAULO, Partido: PCdoB
Nome: Paulo Pereira da Silva, Estado: SÃO PAULO, Partido: Solidariedade
Nome: Paulo Teixeira, Estado: SÃO PAULO, Partido: PT
Nome: RUI FALCÃO, Estado: SÃO PAULO, Partido: PT
Nome: SAMUEL MOREIRA, Estado: SÃO PAULO, Partido: PSDB
Nome: TABATA AMARAL, Estado: SÃO PAULO, Partido: PDT
SERGIPE
Nome: Laercio Oliveira, Estado: SERGIPE, Partido: PP
Nome: ROGÉRIO CARVALHO, Estado: SERGIPE, Partido: PT
TOCANTINS
Nome: EDUARDO GOMES, Estado: TOCANTINS, Partido: MDB

In [36]:
lista_full=[]
lista_full=lista_pag_17+lista_pag_18
len(lista_full)
politicos_diap=pd.DataFrame(lista_full)
politicos_diap.head()

100

,nome,partido,estado,profissão,mandatos,cabeças,debatedor,articulador,formulador,negociador
0,SÉRGIO PETECÃO,PSD,ACRE,EMPRESÁRIO,1o,1.0,NaN,X,NaN,NaN
1,Arthur Lira,PP,ALAGOAS,Empresário,3°,3.0,NaN,X,NaN,NaN
2,Renan Calheiros,MDB,ALAGOAS,Produtor Rural,4°,23.0,NaN,X,NaN,NaN
3,DAVI ALCOLUMBRE,DEM,AMAPÁ,COMERCIANTE,1o,1.0,NaN,X,NaN,NaN
4,Randolfe Rodrigues,REDE,AMAPÁ,Professor,2°,9.0,X,NaN,NaN,NaN

In [29]:
nome_partido_profissão

'EDUARDO GOMES – MDB EMPRESÁRIO'

In [ ]:
– - ------